@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.home {
    display: flex;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(7, 27, 52, 0.913);
    
    .homeContainer{
        flex: 6;

        .widgets, .charts {
            display: flex;
            padding: 20px;
            gap: 20px;
            color: rgb(252, 252, 252);;
        }

        .charts {
            padding: 5px 20px;
        }
    }
}