.head {
    background-color: white;
}

.Logo {
    width: 250px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
}

hr {
    background-color: #6597daff;
    height: 10px;
    margin-bottom: 10px;
}

.Profile {
    margin-left: 950px;
    margin-top: 10px;
    width: 48px;
}



