.form {
    background-color: darkslategrey;
    color: white;
    padding: 10px;

    h1 {
        font-size: 5em;
    }

    button {
        background-color: rgb(79, 88, 88);
        color: white;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        transition-duration: 0.6s;
    }
    button:hover {
        background-color: rgb(143, 139, 139);
        color: rgb(0, 0, 0);
    }
}